.box{
    width: 200px;
    height: 200px;
    font-size: 70;
    /* border: 10px solid red; */
    background-color: blueviolet;
    padding-top:150px;
    
    
    
}
.box1{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    margin:auto;

    /* padding-left:200px ;
    padding-top:150px ; */
}
